In [1]:
import pandas as pd
import numpy as np

In [4]:
filename = "senior_high_schools.csv"

df=pd.read_csv(filename)
df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
0,United Arab Emirates,United International Private School,ABM|HUMSS|STEM,Claret School of Lamitan,STEM|ABM|GAS|TVL
1,ARMM|Basilan,City of Lamitan,406921,"Hardam Furigay Colleges Foundation, Inc.",ABM|GAS|TVL
2,ARMM|Basilan,City of Lamitan,407069,"The Mariam School of Nursing, Inc.",TVL
3,ARMM|Basilan,Maluso,406059,Claret School of Maluso,GAS|TVL
4,ARMM|Basilan,Sumisip,406060,Claret School of Tumahubong,GAS|TVL
...,...,...,...,...,...
4900,NaN,Philippine International School – Qatar,STEM|HUMSS,Middle East|Qatar,Qatar
4901,NaN,Philippine School Doha,STEM|ABM,Middle East|United Arab Emirates,United Arab Emirates
4902,Far Eastern Private School - Al Shahba Campus,STEM|ABM,Middle East|United Arab Emirates,United Arab Emirates,Philippine-Emirates Private School (PISCO Priv...
4903,STEM|ABM|HUMSS|GAS,Middle East|United Arab Emirates,United Arab Emirates,The Philippine School Abu Dhabi,STEM|ABM
4904,Middle East|United Arab Emirates,United Arab Emirates,The Philippine School - Dubai,ABM|STEM|HUMSS|GAS,Middle East|United Arab Emirates

In [6]:
df.head()

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
0,United Arab Emirates,United International Private School,ABM|HUMSS|STEM,Claret School of Lamitan,STEM|ABM|GAS|TVL
1,ARMM|Basilan,City of Lamitan,406921,"Hardam Furigay Colleges Foundation, Inc.",ABM|GAS|TVL
2,ARMM|Basilan,City of Lamitan,407069,"The Mariam School of Nursing, Inc.",TVL
3,ARMM|Basilan,Maluso,406059,Claret School of Maluso,GAS|TVL
4,ARMM|Basilan,Sumisip,406060,Claret School of Tumahubong,GAS|TVL

In [10]:
df["TAXONOMY"].unique()

array(['United Arab Emirates', 'ARMM|Basilan', 'ARMM|Lanao del Sur',
       'ARMM|Maguindanao', 'ARMM|Sulu', 'ARMM|Tawi-Tawi', 'CAR|Abra',
       'CAR|Apayao', 'CAR|Benguet', 'CAR|Ifugao', 'CAR|Kalinga',
       'CAR|Mt. Province', 'CARAGA|Agusan del Norte',
       'CARAGA|Agusan del Sur', 'CARAGA|Dinagat Islands',
       'CARAGA|Surigao del Norte', 'CARAGA|Surigao del Sur',
       'NCR|Metro Manila', 'NIR|Negros Occidental', 'NIR|Negros Oriental',
       'Region I|Ilocos Norte', 'Region I|Ilocos Sur',
       'Region I|La Union', 'Region I|Pangasinan', 'Region II|Cagayan',
       'Region II|Isabela', 'Region II|Nueva Vizcaya',
       'Region II|Quirino', 'Region III|Aurora', 'Region III|Bataan',
       'Region III|Bulacan', 'Region III|Nueva Ecija',
       'Region III|Pampanga', 'Region III|Tarlac', 'Region III|Zambales',
       'Region IV-A|Batangas', 'Region IV-A|Cavite', 'Region IV-A|Laguna',
       'Region IV-A|Quezon', 'Region IV-A|Rizal',
       'Region IV-B|Marinduque', 'Region IV-B|Occidental Mindoro',
       'Region IV-B|Oriental Mindoro', 'Region IV-B|Palawan',
       'Region IV-B|Romblon', 'Region V|Albay',
       'Region V|Camarines Norte', 'Region V|Camarines Sur',
       'Region V|Catanduanes', 'Region V|Masbate', 'Region V|Sorsogon',
       'Region VI|Aklan', 'Region VI|Antique', 'Region VI|Capiz',
       'Region VI|Guimaras', 'Region VI|Iloilo', 'Region VII|Bohol',
       'Region VII|Cebu', 'Region VII|Mandaue City',
       'Region VII|Siquijor', 'Region VIII|Eastern Samar',
       'Region VIII|Leyte', 'Region VIII|Northern Samar',
       'Region VIII|Samar', 'Region VIII|Southern Leyte',
       'Region IX|Basilan', 'Region IX|City of Isabela',
       'Region IX|Zamboanga del Norte', 'Region IX|Zamboanga del Sur',
       'Region IX|Zamboanga Sibugay', 'Region X|Bukidnon',
       'Region X|Camiguin', 'Region X|Lanao del Norte',
       'Region X|Misamis Occidental', 'Region X|Misamis Oriental',
       'Region XI|Compostela Valley', 'Region XI|Davao del Norte',
       'Region XI|Davao del Sur', 'Region XI|Davao Oriental',
       'Region XII|Cotabato City', 'Region XII|North Cotabato',
       'Region XII|Sarangani', 'Region XII|South Cotabato',
       'Region XII|Sultan Kudarat', 'Europe|Greece',
       'Middle East|Bahrain', 'Middle East|Kingdom of Saudi Arabia',
       'Kingdom of Saudi Arabia', 'Al Taj International School',
       'STEM|ABM|HUMSS|GAS',
       'Future Generation Philippine International School',
       'STEM|ABM|HUMSS|GAS|Arts and Design', nan,
       'Far Eastern Private School - Al Shahba Campus',
       'Middle East|United Arab Emirates'], dtype=object)

In [86]:
print(type(df["TAXONOMY"]))
print(type(df[["TAXONOMY"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [42]:
is_ncr = df["TAXONOMY"] == "NCR|Metro Manila"
df[is_ncr]
ncr_df = df[is_ncr]
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [87]:
ncr_df["TAXONOMY"] == "NCR"

TypeError: 'method' object is not subscriptable

In [88]:
is_ncr = df["TAXONOMY"] == "NCR|Metro Manila"
df[is_ncr]
ncr_df = df[is_ncr].copy()
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [96]:
ncr_df["TAXONOMY"] = "NCR"
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [106]:
ncr_df

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,Binondo,406335,Tiong Se Academy,GAS|ABM
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [107]:
is_ncr = df["TAXONOMY"] == "NCR|Metro Manila"
df[is_ncr]
ncr_df = df[is_ncr].copy()
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [108]:
ncr_df.drop(["TAXONOMY"], axis=1, inplace = True)
ncr_df

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,Binondo,406335,Tiong Se Academy,GAS|ABM
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [112]:
ncr_df[ncr_df["MUNICIPALITY"]=="City of Makati"]
ncr_df[ncr_df["MUNICIPALITY"]=="Quezon City"]
ncr_df[ncr_df["MUNICIPALITY"]=="San Juan City"]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
908,San Juan City,401649,Punlaan School,TVL
909,San Juan City,405715,Hands-On International Services Inc.,ABM|TVL
910,San Juan City,406615,Community of Learners School for Children,STEM|ABM|HUMSS|Arts and Design
911,San Juan City,406877,Doro Deus Integrated School,GAS|ABM|TVL
912,San Juan City,406950,"Immaculate Conception Academy, Greenhills",ABM|STEM|HUMSS|GAS
913,San Juan City,406954,Xavier School,GAS|ABM|STEM|HUMSS
914,San Juan City,406956,Aquinas School,STEM|ABM|HUMSS|GAS|Sports|Arts and Design
915,San Juan City,406958,"Dominican College, San Juan",ABM|STEM|HUMSS|GAS
916,San Juan City,406961,St. John the Baptist Catholic School,GAS|ABM|TVL
917,San Juan City,406963,"Montessori De San Juan, Inc",ABM|HUMSS|GAS
918,San Juan City,406965,Philippine Chen Kuang High School,STEM|ABM|HUMSS
919,San Juan City,406970,St. John's Academy,HUMSS|GAS
920,San Juan City,406971,Tabernacle of Faith Christian Academy,STEM
921,San Juan City,482709,OB Montessori Center-San Juan City,GAS
922,San Juan City,485541,Fountain International School,STEM|ABM|HUMSS

In [117]:
ncr_df[ncr_df["MUNICIPALITY"]=="San Juan City"][["MUNICIPALITY", "PROGRAM OFFERINGS"]]
ncr_df

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,Binondo,406335,Tiong Se Academy,GAS|ABM
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [119]:
ncr_df[ncr_df["SCHOOL NAME"].str.contains("Ateneo|Immaculate Conception Academy")]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
793,Quezon City,406575,Ateneo de Manila University,ABM|STEM|HUMSS|GAS
912,San Juan City,406950,"Immaculate Conception Academy, Greenhills",ABM|STEM|HUMSS|GAS
978,Tondo,406290,Immaculate Conception Academy of Manila,STEM|ABM|HUMSS|GAS

In [120]:
ncr_df["STEM"]=ncr_df["PROGRAM OFFERINGS"].str.contains("STEM")
ncr_df["ABM"]=ncr_df["PROGRAM OFFERINGS"].str.contains("ABM")
ncr_df["HUMSS"]=ncr_df["PROGRAM OFFERINGS"].str.contains("HUMSS")
ncr_df["GAS"]=ncr_df["PROGRAM OFFERINGS"].str.contains("GAS")
ncr_df["TVL"]=ncr_df["PROGRAM OFFERINGS"].str.contains("TVL")
ncr_df["Arts and Design"]=ncr_df["PROGRAM OFFERINGS"].str.contains("Arts and Design")
ncr_df["Sports"]=ncr_df["PROGRAM OFFERINGS"].str.contains("Sports")

In [121]:
ncr_df.columns

Index(['MUNICIPALITY', 'SCHOOL ID', 'SCHOOL NAME', 'PROGRAM OFFERINGS', 'STEM',
       'ABM', 'HUMSS', 'GAS', 'TVL', 'Arts and Design', 'Sports'],
      dtype='object')

In [122]:
ncr_df

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM,True,True,False,False,False,False,False
265,Binondo,406335,Tiong Se Academy,GAS|ABM,False,True,False,True,False,False,False
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL,False,True,False,False,True,False,False
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM,False,True,True,True,False,False,False
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS,False,True,True,True,False,False,False
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL,False,True,True,True,True,False,False
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS,True,True,True,True,False,False,False

In [123]:
stem = ncr_df["STEM"]==True
humss = ncr_df["HUMSS"]==True
ncr_df[(stem)&(humss)]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
268,Caloocan City,400951,AMA Computer Learning Center of Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
271,Caloocan City,400960,Datamex Institute of Computer Technology-Caloo...,STEM|ABM|HUMSS|GAS|Arts and Design|Sports|TVL,True,True,True,True,True,True,True
274,Caloocan City,400972,Martinez Memorial Colleges,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1004,Valenzuela City,407184,Our Lady of Lourdes College,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
1005,Valenzuela City,407185,St. Bernadette College of Valenzuela,ABM|STEM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
1006,Valenzuela City,407186,"St. Catherine College of Valenzuela, Inc.",ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS,True,True,True,True,False,False,False

In [124]:
row_idx=ncr_df["MUNICIPALITY"].str.contains("San Juan")
col_idx=["MUNICIPALITY", "PROGRAM OFFERINGS"]

ncr_df.loc[row_idx,col_idx]

      MUNICIPALITY                          PROGRAM OFFERINGS
908  San Juan City                                        TVL
909  San Juan City                                    ABM|TVL
910  San Juan City             STEM|ABM|HUMSS|Arts and Design
911  San Juan City                                GAS|ABM|TVL
912  San Juan City                         ABM|STEM|HUMSS|GAS
913  San Juan City                         GAS|ABM|STEM|HUMSS
914  San Juan City  STEM|ABM|HUMSS|GAS|Sports|Arts and Design
915  San Juan City                         ABM|STEM|HUMSS|GAS
916  San Juan City                                GAS|ABM|TVL
917  San Juan City                              ABM|HUMSS|GAS
918  San Juan City                             STEM|ABM|HUMSS
919  San Juan City                                  HUMSS|GAS
920  San Juan City                                       STEM
921  San Juan City                                        GAS
922  San Juan City                             STEM|ABM|HUMSS

In [127]:
ncr_df["MUNICIPALITY"].unique()

array(['City of Makati', 'Binondo', 'Caloocan City', 'City of Las Piñas',
       'City of Muntinlupa', 'City of Valenzuela', 'Kalookan City',
       'Las Piñas City', 'Makati City', 'Malabon City', 'Malate',
       'Mandaluyong City', 'Manila', 'Manila City', 'Marikina City',
       'Muntinlupa City', 'Navotas City', 'Paco', 'Pandacan',
       'Parañaque City', 'Pasay City', 'Pasig City', 'Pateros',
       'Quezon City', 'Quezon CIty', 'Quiapo', 'Sampaloc',
       'San Juan City', 'Santa Ana', 'Santa Cruz', 'Taguig City', 'Tondo',
       'Valenzuela City'], dtype=object)

In [134]:
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Manila",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Binondo",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Malate",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Paco",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Pandacan",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Manila",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Quiapo",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Sampaloc",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Santa Cruz",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Santa Ana",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Tondo",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="City of Makati",["MUNICIPALITY"]]="Makati City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Quezon CIty",["MUNICIPALITY"]]="Quezon City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="City of Las Piñas",["MUNICIPALITY"]]="Las Piñas City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="City of Valenzuela",["MUNICIPALITY"]]="Valenzuela City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="City of Muntinlupa",["MUNICIPALITY"]]="Muntinlupa City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Kalookan City",["MUNICIPALITY"]]="Caloocan City"

In [135]:
ncr_df["MUNICIPALITY"].unique()

array(['Makati City', 'Manila City', 'Caloocan City', 'Las Piñas City',
       'Muntinlupa City', 'Valenzuela City', 'Malabon City',
       'Mandaluyong City', 'Marikina City', 'Navotas City',
       'Parañaque City', 'Pasay City', 'Pasig City', 'Pateros',
       'Quezon City', 'San Juan City', 'Taguig City'], dtype=object)

In [136]:
len(ncr_df["MUNICIPALITY"].unique())

17

In [137]:
offerings = ["STEM", "ABM", "HUMSS", "GAS", "TVL", "Arts and Design", "Sports"]
ncr_df[offerings]

       STEM   ABM  HUMSS    GAS    TVL  Arts and Design  Sports
263    True  True   True   True  False            False   False
264    True  True  False  False  False            False   False
265   False  True  False   True  False            False   False
266   False  True  False  False   True            False   False
267    True  True   True   True   True            False   False
...     ...   ...    ...    ...    ...              ...     ...
1014  False  True   True   True  False            False   False
1015  False  True   True   True  False            False   False
1016   True  True   True   True  False            False   False
1017  False  True   True   True   True            False   False
1018   True  True   True   True  False            False   False

[756 rows x 7 columns]

In [138]:
ncr_df[offerings].sum(axis=1)

263     4
264     2
265     2
266     2
267     5
       ..
1014    3
1015    3
1016    4
1017    4
1018    4
Length: 756, dtype: int64

In [140]:
ncr_df["OFFERINGS COUNT"]=ncr_df[offerings].sum(axis=1)
ncr_df.head()

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports,OFFERINGS COUNT
263,Makati City,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
264,Manila City,406330,Lorenzo Ruiz Academy,ABM|STEM,True,True,False,False,False,False,False,2
265,Manila City,406335,Tiong Se Academy,GAS|ABM,False,True,False,True,False,False,False,2
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL,False,True,False,False,True,False,False,2
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5

In [145]:
muni_gb=ncr_df.groupby("MUNICIPALITY")
muni_gb["MUNICIPALITY"].count().sort_values(ascending=False)

MUNICIPALITY
Quezon City         200
Manila City         106
Caloocan City        77
Parañaque City       44
Las Piñas City       43
Pasig City           39
Taguig City          36
Marikina City        35
Muntinlupa City      35
Makati City          33
Valenzuela City      30
Pasay City           22
Mandaluyong City     19
San Juan City        15
Malabon City         14
Pateros               4
Navotas City          4
Name: MUNICIPALITY, dtype: int64

In [146]:
ncr_df["MUNICIPALITY COUNT"]=muni_gb["MUNICIPALITY"].count()

In [147]:
ncr_df.to_csv("ncr_shs.csv", index=False)

In [149]:
!cat ncr_shs.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.